*{
    box-sizing: border-box;

}

.grid-container{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template:repeat(3,1fr)/repeat(auto-fill,minmax(160px,1fr));
    grid-gap: 20px 20px;
    grid-auto-rows:1fr;

}
.grid-container :nth-child(2n){
    background: rgb(142, 128, 156);
}

.grid-container :nth-child(2n+1){
    background: rgb(150, 139, 161)
}
