*{
    box-sizing: border-box;
}
header{
    display: flex;
    width: 90%;
    height: 60px;
    margin-left: 5%;
    border: 1px solid black;
    /* border:1px solid red; */
}

.text{
    width: 95%;
    height: 100%;
    text-align: center;
    /* border: 1px solid green; */

}

.close{
    position: relative;
    width:5%;
    height: 100%;
    border: 1px solid black;
}
.close span:first-child {
    position: absolute;
    top:25px;
    left: 15px;
    width: 30px;
    height:2px;
   background: black;
   transform: rotate(45deg);
}

.close span:last-child{
    position: absolute;
    top: 25px;
    left: 15px;
    width: 30px;
    height:2px;
   background: black;
   transform: rotate(-45deg);
}

.container{
    width: 100%;
    height: 600px;
    /* border: 1px solid blue; */
}

form{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border: 1px solid black;
    /* border: green; */

}

.head-wrap{
    display: flex;

    width: 90%;
    height: 50%;
    margin-left: 5%;
    /* border: 1px solid yellow; */
}

.img-wrap{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    /* border: 1px solid red; */
}
.img{
  
    width: 40%;
    height: 50%;
    background: greenyellow;
    /* border: 1px solid gray; */
}

.name{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    
    width: 60%;
    height: 100%;
    /* border: 1px solid palevioletred; */

}

.name label:last-child{
    position: absolute;
    bottom: 58px;
    left: 120px;
}

.footer-wrap{
    display: flex;
    width: 90%;
    height: 40%;
    margin-left: 5%;
    border-top: 1px solid black;
    /* border: 1px solid pink; */
}
.addres{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
    /* border: 1px solid lime; */
}
.text-area{
    width: 30%;
    height: 100%;
}

.form-footer{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-left: 5%;

}
.form-footer input:first-child{
    margin-right: 30px;
}