

@media  (max-width:480px){
/* start header property */

header{
    /* position: sticky;
       top: 0;
       z-index: 2; */
}
    .head-container{
        display: flex;
        justify-content:flex-start; 
        align-items: center;
        height: auto;       
        
    }

    .logo-header{
        width:80%;
        height: 40px; 
        align-self: flex-start;     
        background: url(../img/logo.png) no-repeat, rgb(255,225,62);

    }
    .btn-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;     

    }

    .nav{  
             
        width: 20%;
        height: 40px;
        font-size: 14px;
        background: url(../img/menubuttonofthreelines_79781.png) no-repeat, rgb(255,225,62)  ;
        background-size: contain; 
        background-position-x: right;   
        /* border: 1px solid salmon; */
    }
.nav:hover .nav-menu{
    display: block;
    width: 100px;
    /* height: auto; */
     
}

.nav:hover .nav-menu li{
    widows: 100%;
    height: 20px;
    background-color: rgb(32,34,66)
}

    .nav li a{
        color: rgb(255,225,62);
    }

    .help{
        margin-top: 10px;
        width: 100%;
        height: 50px;        
    }

    .nav:hover .nav-menu{
        display: block;

    }

    .nav-menu{
       display: none;      
       
    }

    
    .text{
        display: none;       
    }
    .btn{
        justify-content: space-around;
        line-height: 1;
        width:40%;
        height: 100%;
    }
    .btn li:first-child{
        width: 80px;
        height: 100%;
        font-size: 14px;
        
    }
    .btn li:last-child{
       
        width: 60px;
        height: 100%;
        font-size: 16px;
        background: url(../img/phone-symbol-of-an-auricular-inside-a-circle_icon-icons.com_56478.png) center center no-repeat;
                
    }

    .btn li:last-child a{
        display: none;
    }
    .btn span{
        display: none;
    }
    /* end header property */

    /* Start main property */

    .img-container{
        width: 100%;
        height: 340px;
    }
    .img-wrap{
        width: 100%;
        height: auto;
        background: url(../img/homebg.jpg) center center no-repeat;
        background-size: contain;
    }

    .img-container h1{
        font-size: 14px;
        
    }
    .img-container h3{
        font-size: 12px;
    }

    .logo-img{
        width: 40px;
        height: 40px;
    }
    .input{
        width: 70%;
        height: 20px;
        border: 1px solid rgb(221,221,221);
        font-size: 10px;
    }

    .input [type="submit"]{
        text-overflow: ellipsis;
    }
}