*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
/*header*/
.header{
    display: flex;
    width: 100%;
    min-width: 300px;
    min-height: 70px;    
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    /* border: 1px solid blue; */
     
    
}

.toprow-container{
    width: 92%; 
    min-width: 300px; 
    min-height: 70px;
    height: auto;    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(50, 50, 50);
    /* border: 1px solid red; */

}

.logocompany{    
    width: 40%;  
    /* min-width: 300px; */
    flex: 0 1 300px;
    overflow: hidden;
    min-height: 70px;
    background: url(../img/logocompany.jpg) left center no-repeat;
    /* border: 1px solid red; */
    
}

nav{
    min-height: 70px;    
    width: 60%;  
    /* min-width: 300px;  */
    flex: 1 1 300px;
    /* border: 1px solid blue; */
} 

.nav{
    width: 100%;
   
   
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
  
}

nav li{
    display: flex;
    width: auto;
    min-width:60px;
    height: 22px;
    /* border: 1px solid rgb(38, 0, 255); */

}

.nav li a{
    position: relative;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    /* border: 1px solid red; */
}

.nav a:hover{
    color: rgb(0,142,214);
    
}

i{
   display: none; 
   color: rgb(0,142,214);   
   border: 1.5px solid rgb(0,142,214);   
   position: absolute;
   bottom: -6px;
   width: 25px; 
   height: 0; 
    
}

.nav a:hover i{
    transition: 0.3s; /*Не работает!!!!!!*/
    display: block;    
}

/*row 1*/

main{
    width: 100%;
    height:auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100%;
    min-width: 300px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/img1.jpg) center center no-repeat;
    
}

.container{
    width: 92%;
    min-width: 300px;
    height:40%;
    color: white;
    font-family: sans-serif;    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    /* border:  1px solid red; */
}

.container h1{
    font-weight: 100;
}

.container h1 span{
    color:rgb(0,142,214);
}

.container p{
   width: 60%;
   text-align: center;
   line-height: 2;
}

.regText{
    position: absolute;
    bottom: 0px;
    left: 50%;
    
}

.container form{
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 70px;
    background: rgb(50, 50, 50,0.7);
    outline-style: none;
    
}

.container input {
    height: 40px;
    min-width: 50px;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(0,142,214);
    border-left: 4px solid rgb(0,142,214);
    text-indent: 5px;
    
}

form input:last-child{
    background-color: rgb(0,142,214);
    width: 20%;
    min-width: 50px;
}

/* row 2 */

.explore{
    width:100%;
    min-width: 300px;
    min-height: 620px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* border: 1px solid rgb(0, 4, 255); */

}

.explore-container{
    width: 92%;
    min-width: 300px;
    min-height: 620px;   
    display: flex;
    flex-flow: row wrap;
    align-items: center;    
    justify-content: space-evenly;
    
    /* border: 1px solid green; */
}

.expl-img{
    width: 48%;  
    min-width: 300px;
    min-height: 450px;
    align-self: center;
    /* border: 1px solid green; */
}

.expl-img img{
    width: 100%;    
    height:auto;
    
}

.content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 48%;
    min-width: 300px;
    min-height:450px;   
    font-family: sans-serif;
    color: rgb(50, 50, 50);
    line-height: 1.5;
    /* border: 1px solid rgb(128, 47, 0); */
        
}

.content-title{
  
    width: 100%;
    min-height: 150px;
    height: auto;
    /* background-color: blueviolet; */
    
}



.content-title span{
    display: block;
    width: 60px;      
    border: 1px solid rgb(0,142,214);
}

.content-title h1, .content-title span, .content-title>p{
    margin-bottom: 15px;
    
    /* border: 1px solid red; */
}


.content-wrapper{
    width: 100%;
    height: 280px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* background-color: cadetblue; */
    
}
.item{
    
    width: 100%;
    min-height: 150px;
    display: flex;
    overflow: hidden;
    /* border: 1px solid blue; */

}
.img-wrap{
    width:8%;
    height: 100%;
    /* border: 1px solid red; */
}

.img-wrap>img{
    width: 100%;
    height:auto;
    /* border: 1px solid red; */

}

.text-wrap{
    width: 90%;
    height: 100%;
    font-size: 14px;
    /* border: 1px solid red; */
    
}

.text-wrap>h4, .text-wrap>p{
    width: 100%; 
    height: auto; 
    padding-left: 10px;
    /* border: 1px solid red; */
    
}

.text-wrap>h4{
    padding-bottom: 10px;
    font-size: 1.15em;

}

/* row 3 */
.describe{
    background-color: rgb(245, 248, 250);
   
}

.describe-container>.expl-img{
    order: 1;
}

/* row 4 */
.features{
    width: 100%;
    min-width: 300px;   
    min-height: 800px; 
    height: auto;     
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* border: 1px solid rgb(38, 0, 255); */
    
}

.features-container{
    width: 92%;
    min-width: 300px;    
    min-height:800px;
    height: auto;  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.title{
    min-height: 200px;
    height: 18%;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    line-height: 2.5;
    font-family: sans-serif;
    border: 1px solid red;
}

.title>span{
    width: 60px;
    border: 1px solid rgb(0,142,214);
}


.features-content{
    width: 30%;
    min-width: 260px;
    min-height: 260px;    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;   
    justify-content: space-evenly;
    overflow: hidden;
    /* border: 1px solid gray; */

}

.features-content>p{
    text-align: center;
    
}

.feat-img{
    width: 20%;
    height: auto;
    
    
    /* border: 1px solid gray; */
}

.feat-img>img{
    width: 100%;
    height: auto;
}

/* row 5 */
.price{
    width: 100%;
    min-width: 300px;
    height: auto;
    min-height: 850px;      
    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
    background-color: rgb(240, 248, 250);
    /* border: 1px solid rgb(38, 0, 255); */
}

.price-container{
    width: 92%;
    min-width: 300px;    
    min-height:850px;
    height: auto;  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px solid saddlebrown; */
}

.card-wrapper{
    width: 100%;
    min-width: 300px;
    height: auto;
    min-height: 480px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    
    border: 1px solid rgb(38, 0, 255);


}

.card{
    width: 360px;
    min-width: 300px;
    min-height: 480px;   
    /* border: 1px solid red; */
    
}

.table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: white;
    font-family: sans-serif;    
}

.table1 #price{
    color: rgb(0,142,214);
}


.table1 tr:first-child{
    height: 100px;
    background-color: rgb(50, 50, 50);
    color:rgb(245, 248, 250);
    border: none;
}
th, td{  
    font-weight: 600;
    /* border: 1px solid red; */
   
}

tr+tr>td:first-child{
    padding-left: 30px;
   
}

tr+tr>td:last-child{
    text-align: center;
    width: 100px;  
    
}

tr{
    height: 40px;    
    border-bottom: 1px dashed rgb(50, 50, 50, 0.4);

}

tr:last-child{
    height: 60px;
    border-bottom: none;
}

td:last-child input{
    border-style: none;
    background: none;
    cursor: pointer;
    outline-style: none; 
    font-weight: 600;
}

td:last-child:hover input{
    width: 100%;
    height:38px;     
    color: white;
    border-radius: 5px;
    background-color: rgb(0,142,214);
}

.table2 tr:first-child{
    height: 100px;
    border: none;
    background-color: rgb(0,142,214);
    color: white;
}

/* row 6 */

.video{
    width: 100%;
    min-width: 300px;
    min-height: 820px;
    height: auto;   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid rgb(38, 0, 255);
}

.video-container{
    width: 92%;
    min-width: 300px; 
    min-height: 820px;     
    height: auto;  
    display: flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid saddlebrown; */
}

.video-img{
    width: 70%;  
    min-width: 300px;
   
    align-self: center;
    border: 1px solid green;
}

.video-img img{
    width: 100%;    
    height:auto;
    padding-top: 50px;
    
}


.link-container{
    width: 80%;
    min-height: 70px;
    min-width: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid saddlebrown;
    
}

.link-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
    /* border: 1px solid green; */
}

.link-wrapper li{
    width: 220px;
    height: 40px;
   
    /* border: 1px solid red; */
}

.link-container li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-family: sans-serif;
    font-weight: 600;
    /* border: 1px solid yellow; */

}

.link-container li:first-child a::before, .link-container li:nth-child(2) a::before,
.link-container li:last-child a::before{
    margin-right: 10px;
   
}

.link-container li:first-child a::before{
    content: url("../img/icon1.png");
}

.link-container li:nth-child(2) a::before{    
    content: url("../img/icon2.png");  
  
}

.link-container li:last-child a::before{
    content: url("../img/icon3.png");
}

/* row 7 */
.product{
    width: 100%;
    min-width: 300px;
    min-height: 620px;
    height: auto;   
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(245, 248, 250);
    /* background-color: cadetblue; */
}


.product-container{
    width: 92%;
    min-width: 300px;  
    height:620px;       
    display: flex;
    flex-flow:row wrap;
    /* border: 1px solid rgb(235, 219, 79); */
   

}
/* Slider */

.slider-wrapper{
    width: 100%;
    height:420px;
    min-width: 300px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:flex-start;
    /* border: 1px solid green; */
    
}


.img-cont{
    order: -1;
    width:80%;  
    height: 360px;    
    background: url('../img/img8.jpg') center center no-repeat;    
    transition: 0.5s ease-in-out;
}


.btn{
    position: relative;   
    width: 15px;
    height: 15px;
    top: -30px;
    left:-42%;  
    margin: 5px;
    visibility: hidden;
    border: 1px solid red;
    align-self: flex-end;
    cursor: pointer;
}
.btn::after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0,142,214,0.4);
    content: '';
    display: inline-block;
    visibility: visible;
    position: absolute;
    top:0;
    left: 0;

}

.btn:checked::after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0,142,214);
    content: '';
    display: inline-block;
    visibility: visible;
    position: relative;
    top: 0;
    left:0;

}

    

#btn2:checked ~ .img-cont{
    background: url('../img/img7.jpg') center center no-repeat;
   
   
}
#btn3:checked ~ .img-cont{
    background: url('../img/img6.jpg') center center no-repeat;   
}

/* end slider */

/* row 8 */

.trusted{
    width: 100%;
    min-width: 300px;
    min-height: 800px;
    height: auto;   
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
    
    border: 1px solid rgb(38, 0, 255);
}


.trusted-container{
    width: 92%;
    min-width: 300px; 
    min-height: 800px;      
    display: flex;
    flex-flow:column wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgb(235, 219, 79);
}

.trusted-img{
    width: 80%;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
}

.trust-img{
    width: 20%;
    min-width: 200px;
    height: auto;    
    margin: auto;
   
    
}

.trust-img img{
    width: 100%;
    height: auto;    
    /* border: 1px solid red; */
}

